
 <app-adbox></app-adbox>

 <div id="flex">
   <div id="main">
     <app-listing title="Latest Blog" data="blog"></app-listing>
     <app-listing title="Testimonials" data="testimonial"></app-listing>
   </div>
   <div id="sidebar">
     <div class="section">
       <a href=""><img src="../../assets/images/rooms.png" alt="Img"></a>
     </div>
     <div class="section">
       <a href=""><img src="../../assets/images/dive-site.png" alt="Img"></a>
     </div>
     <div class="section">
       <a href=""><img src="../../assets/images/food.png" alt="Img"></a>
     </div>
   </div>
 </div>

