/* You can add global styles to this file, and also import other style files */
body {
  background: #ffb744 url(../images/bg-body.jpg) repeat left bottom;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

#background {
  background: url(../images/bg-pattern.jpg) repeat-x center top;
  min-height: 1318px;
}

#page {
  width: 960px;
  margin: 0 auto;
}

img {
  border: 0;
}
/*------------------------------ Sprites ------------------------------*/
#navigation li, #navigation li a:hover, #navigation li.selected a {
  background-image: url(../images/bg-menu.png);
  background-repeat: repeat-x;
}

#contents div.box, #contents div.box > div, #contents div.body {
  background-image: url(../images/content-box.png);
  background-repeat: no-repeat;
}

#main div.box, #main div.box > div, #main div.box > div > div {
  background-image: url(../images/bg-box.png);
  background-repeat: no-repeat;
}
