
<div id="navigation">
  <ul>
    <li>
      <label (click)="homePage()">Home</label>
    </li>
    <li>
      <label (click)="travelPage()">Travel</label>
    </li>
    <li>
      <label (click)="roomsPage()">Rooms</label>
    </li>
    <li>
      <label (click)="mealPage()">Meals</label>
    </li>
    <li>
      <label (click)="newsPage()">News</label>
    </li>
    <li>
      <label (click)="aboutPage()">About</label>
    </li>
    <li>
      <label (click)="contactPage()">Contact</label>
    </li>
  </ul>
</div>
